{% extends 'mainapp/base.html' %}

{% block meta_title %}
    POST
{% endblock %}

{% block home %}/{% endblock %}

{% block body %}
    {% for nick, user, post, created, post_id in row %}
      <h1>POST #{{ post_id }}</h1>
      <tr>
          <td>{{ nick }}<a href="/{{ user }}">(@{{ user }})</a> - {{ post }}: {{ created }}</td>
      </tr>
    {% endfor %}
{% endblock %}
{#     {% for r in row %}#}
{#       <h1>POST #{{ r.id }}</h1>#}
{#       <tr>#}
{#          <td>{{ r.post }}<a href="/{{ user }}">(@{{ user }})</a> - {{ r.create_at }}: {{ created }}</td>#}
{#       </tr>#}
{#    {% endfor %}#}


